:root {
  --background-color: #2f303a;
  --blue: #2196f3;
  --black: #000;
  --gray: #757575;
  --white: #ffffff;
  --second-gray: #212121;
  --background-team-section: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
}

.list-header-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: auto;
  padding-right: 15px;
}

.list-header-contact:hover a,
.list-header-contact:hover svg {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  gap: 46px;
}

.list-images {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-images-portfolio {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
}

.list-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 9px 0;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  padding-left: 15px;
}

.link-nav {
  color: var(--second-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  gap: 46px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.link-nav:hover::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  top: 46px;
}

.active-page:after {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  top: 46px;
}

.link-nav:hover {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-text {
  color: var(--blue);
}

.link-contact {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--gray);
  fill: var(--gray);
}

.top-section {
  color: var(--white);
  background: var(--background-color);
  align-items: center;
  text-align: center;
  background: #2f303a;
  width: 100%;
  height: 600px;
}

.background-image {
  background: rgba(47, 48, 58, 0.4);
  background-image: url(https://raw.githubusercontent.com/LukaszNiewczas/goit-markup-hw-04/main/images/backgruond-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.top-section-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  padding-top: 195px;
}

.top-section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  cursor: pointer;
  background: var(--blue);
  border: none;
  color: var(--white);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 60px 0;
}

.footer-color {
  background: var(--background-color);
  color: var(--white);
  width: 100%;
  height: 252px;
}
.footer-logo {
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  margin: 20px 0 0 0;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: var(--footer-contact-color);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  color: var(--second-gray);
  background: var(--background-team-section);
  border: none;
  cursor: pointer;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-gray);
  margin: 20px 24px 4px 24px;
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  color: var(--gray);
  margin: 0 24px 20px 24px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  color: var(--second-gray);
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  color: var(--second-gray);
  margin: 30px 0 10px 0;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  margin: 0 0 30px 0;
}

.title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--second-gray);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.team-background {
  background: var(--background-team-section);
}

.flex {
  display: flex;
}

.border-bottom-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: auto;
}

.image-portfolio-card {
  border: 1px solid #eeeeee;
}

.image-portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 93px;
  padding: 24px 0 25px 0;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 94px 0;
  gap: 50px;
}

.speciality {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 94px 0 0 0;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}

.item {
  flex-basis: calc((100% - 90px) / 3);
}

.pad-footer {
  padding-left: 15px;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}
.pad-footer {
  padding-left: 15px;
  padding-right: 70px;
}

.team-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.team-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.team-icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}

.footer-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer-icon:hover {
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.our-client-list {
  list-style: none;
}

.contact-icon {
  margin: 0 10px 0 0;
  fill: #757575;
}

.icon-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
}

.our-client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.our-client-logo {
  border-radius: 4px;
  border: #afb1b8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
}

.our-client-logo:hover {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.label {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  bottom: 0;
  padding-top: 27px;
  margin-bottom: 3px;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(102%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb:hover .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.email-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  padding-left: 16px;
  background-color: #2f303a;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 24px;
}

.footer-form {
  margin-left: 78px;
}

.footer-form-btn svg {
  fill: #fff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 0 40px;
}

.modal-input {
  width: 448px;
  height: 40px;
  display: block;
  margin: 4px 0 0 0;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  padding: 0 0 0 30px;
  margin-bottom: 10px;
}

.modal-label {
  width: 448px;
  height: 58px;
  position: relative;
  font-size: 12px;
}

.modal-label:focus-within svg {
  fill: #2196f3;
}

.form-size {
  padding: 12px 40px 40px 40px;
}

.icon-label {
  position: absolute;
}

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.btn-form {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 30px 124px 43px 124px;
}

.accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.blue-text-underline {
  color: #2196f3;
  text-decoration: underline;
}
.checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 50px;
}
