:root {
  --background-color: #2f303a;
  --blue: #2196f3;
  --black: #000;
  --gray: #757575;
  --white: #ffffff;
  --second-gray: #212121;
  --background-team-section: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}

.link-nav {
  color: var(--second-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}

.link-nav:hover {
  color: var(--blue);
}

.blue-text {
  color: var(--blue);
}

.link-contact {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--gray);
}

.link-contact:hover {
  color: var(--blue);
}

.top-section {
  color: var(--white);
  background: var(--background-color);
}

.top-section-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.top-section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  cursor: pointer;
  background: var(--blue);
  border: none;
  color: var(--white);
  width: 200px;
  height: 50px;
}

.footer-color {
  background: var(--background-color);
  color: var(--white);
}
.footer-logo {
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: var(--footer-contact-color);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  color: var(--second-gray);
  background: var(--background-team-section);
  border: none;
  cursor: pointer;
  width: 121px;
  height: 38px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background: var(--blue);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-gray);
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  color: var(--gray);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  color: var(--second-gray);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  color: var(--second-gray);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
}

.title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--second-gray);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.team-background {
  background: var(--background-team-section);
}
