:root {
  --background-color: #2f303a;
  --blue: #2196f3;
  --black: #000;
  --gray: #757575;
  --white: #ffffff;
  --second-gray: #212121;
  --background-team-section: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
}

.list-header-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: auto;
  padding-right: 15px;
}

.list-menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  gap: 46px;
}

.list-images {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-images-portfolio {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
}

.list-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 9px 0;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  padding-left: 15px;
}

.link-nav {
  color: var(--second-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  gap: 46px;
  display: flex;
  flex-direction: row;
}

.link-nav:hover {
  color: var(--blue);
}

.blue-text {
  color: var(--blue);
}

.link-contact {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--gray);
}

.link-contact:hover {
  color: var(--blue);
}

.top-section {
  color: var(--white);
  background: var(--background-color);
  align-items: center;
  text-align: center;
  background: #2f303a;
  width: 100%;
  height: 600px;
  background-image: ;
}

.top-section-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  padding-top: 195px;
}

.top-section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  cursor: pointer;
  background: var(--blue);
  border: none;
  color: var(--white);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 60px 0;
}

.footer-color {
  background: var(--background-color);
  color: var(--white);
  width: 100%;
  height: 252px;
}
.footer-logo {
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  margin: 20px 0 0 0;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: var(--footer-contact-color);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  color: var(--second-gray);
  background: var(--background-team-section);
  border: none;
  cursor: pointer;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background: var(--blue);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-gray);
  margin: 20px 24px 4px 24px;
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  color: var(--gray);
  margin: 0 24px 20px 24px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  color: var(--second-gray);
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  color: var(--second-gray);
  margin: 30px 0 10px 0;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  margin: 0 0 30px 0;
}

.title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--second-gray);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.team-background {
  background: var(--background-team-section);
}

.flex {
  display: flex;
}

.border-bottom-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: auto;
}

.image-portfolio-border {
  border: 1px solid #eeeeee;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 93px;
  padding: 24px 0 25px 0;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 94px 0;
  gap: 50px;
}

.speciality {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 94px 0 0 0;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}

.item {
  flex-basis: calc((100% - 90px) / 3);
}

.pad-footer {
  padding-left: 15px;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}
